@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 { 
color: #11a6ba; 
font-size: 19px;
margin-top: 5px;
margin-bottom: 5px;
padding: 10px 10px;
}

h2 { 
color: #b411ba; 
font-size: 17x;
margin-top: 4px;
margin-bottom: 4px;
}

h3 { 
color: #11a6ba; 
font-size: 15x;
margin-top: 3px;
margin-bottom: 3px;
}

p {
font-family: Tahoma, Arial, sans-serif;
padding: 10px 10px 10px 10px;
}

p:hover, a:hover {
color: #32ddf0;
}

a:visited {
color: #b411ba; 
}

a:link {
color: #b411ba; 
}

nav {
background: rgba(76, 175, 80, 0.3);
border: 3px solid white;
padding: 10px 10px;
margin: 5px;
font-weight: bold;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
background-image: url("isa_Image_1a.png");
background-position: top;
background-attachment: fixed;
opacity: 0.9;
font-size: 16px;
transition-duration: 0.4s;
}

ul, li, ol {
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5px;
padding: 10px 5px 5px 10px;
}

.shaded {
background: #11a6ba;
}

.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.form {
    padding: 20px 20px 20px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;

}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}


/* table */

table {
/* text-decoration: underline; */
padding: 10px 10px 10px 10px;
/* width: calc(100% - 30px); */
background-color: white;
color: #11a6ba;
border: 1px #11a6ba;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

td { 
    padding: 20px;
}

/* button */
.btn {
    background-color: #11a6ba;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100%;
    padding: 3%;
    background-color: #11a6ba;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #b411ba; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.btn:focus {
    outline: none;
}